#portrait {
  width: 100%;
  padding: 2em 25%;
  img {
    height: auto;
    border-radius: 50%;
  }
}
.title {
  width: 100%;
  font-size: 2.5em;
  color: var(--color-light-yellow);
  text-align: center;
  span {
    border-top: 2px solid var(--color-light-yellow);
    border-bottom: 2px solid var(--color-light-yellow);
  }
}

#description {
  width: 100%;
  font-size: 1.5em;
  color: var(--color-light-yellow);
  margin-top: 1em;
  margin-bottom: 1em;
}

.icon-list {
  margin-top: 0.5em;
  padding: 0.2em 0;
  display: flex;
  justify-content: space-evenly;
  font-size: 3em;
  a {
    color: #ffffff;
  }
  ion-icon {
    cursor: pointer;
    &:hover {
      color: var(--color-blue-green);
      transform: scale(1.2);
    }
  }
}
