ion-content {
  --background: var(--color-dark-blue);
  --padding-bottom: 2em;
  --padding-start: 5%;
  --padding-end: 5%;
}

#row {
  width: 100%;
  display: grid;
  grid-template-columns: calc(100% - 350px) 350px;
  & > div:nth-child(1) {
    height: 200px;
    padding-top: 2em;
  }
  & > div:nth-child(2) {
    padding: 2em 1em;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.title {
  width: 100%;
  font-size: 2.5em;
  color: var(--color-light-yellow);
  text-align: center;
  span {
    border-top: 2px solid var(--color-light-yellow);
    border-bottom: 2px solid var(--color-light-yellow);
  }
}
