// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --color-dark-blue: #1c242f;
  --color-gray: #737478;
  --color-blue-green: #01a48f;
  --color-light-yellow: #e7e4d7;
}
