<div id="card">
  <div id="image">
    <img [src]="experience.image" alt="experience image" />
  </div>
  <div id="content">
    <article>
      <div class="title">{{ experience.title }}</div>
      <div class="description">{{ experience.description }}</div>
      <div class="date">{{ experience.date }}</div>
      <ng-container *ngIf="experience.link">
        <div class="link" (click)="open()">
          <a>
            前往專案
            <ion-icon name="arrow-forward"></ion-icon>
          </a>
        </div>
      </ng-container>
    </article>
  </div>
</div>
